<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iori.custom.testmodel">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".MoreCameraPreview"
            android:screenOrientation="portrait"/>

        <activity android:name=".RatioCameraPreviewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".LongTextViewActivity"/>
        <activity android:name=".lottery.LotteryActivity"/>
        <activity android:name=".WinUserListActivity"/>
        <activity android:name=".FixedHeaderTableActivity" />
        <activity android:name=".opengl.OpenglTriangleActivity" />
        <activity android:name=".opengl.TranslateActivity" />
        <activity android:name=".opengl.ColorTriangleActivity" />
        <activity android:name=".opengl.OpenglImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".opengl.OpenglFrameBufferActivity" />
        <activity android:name=".opengl.CustomOpenglFrameBufferActivity" />

    </application>
</manifest>
